
<!DOCTYPE html>
<html lang="en" ng-app="mockserver">
  <head>
    <meta charset="utf-8">
    <title>MockServer, REST, SOAP, etc...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body ng-controller="HomeController">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MockServer</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">anonymus</a>
            </p>
            <ul class="nav">
                <!--
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
                -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Mocks</li>
              <li class="{{app.cls}}" ng-repeat="app in apps"><a href="#/{{app.link}}" ng-click="openApp(app)">{{app.name}}</a></li>
              <li class="nav-header">Services</li>
              <li class="{{srv.cls}}" ng-repeat="srv in srvs"><a href="#/{{app.link}}" ng-click="openApp(srv)">{{srv.name}}</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10" ng-view>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; mockserver.org 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <script src="@routes.Assets.at("javascripts/angular.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/underscore.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    <script src="@routes.Assets.at("javascripts/app/controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/app/app.js")"></script>
  </body>
</html>
